*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}
body{
    background:#f1f5f9;
    color:#1f2933;
}
.app-header{
    background:indigo;
    color:white;
    padding:30px 20px;
}
.header-content{
    max-width: 1000px;
    margin:auto;
}
.header-content h1{
    font-size: 28px;
}
.header-content p{
    margin-top: 6px;
    opacity:0.9;
}
.container{
    max-width:1100px;
    margin:30px auto;
    padding:0 15px;
}
.summary{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    margin-bottom:30px;
}
.card{
    padding:20px;
    border-radius:12px;
    color:white;
}
.card h4{
    font-weight:500;
    margin-bottom:8px;
}
.cards p{
    font-size:22px;
    font-weight:bold;
}
.income{background: #16a34a;}
.expense{background: #dc2626;}
.balance{background: #2563eb;}

.grid{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:25px;
    margin-bottom: 30px;

}
.add-transaction,
.Transactions,
.charts{
    background: white;
    padding:22px;
    border-radius: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);

}
h2{
    margin-bottom: 16px;
    font-size:18px;
}
form{
    display:grid;
    gap:12px;
}
form input,form select,form button{
    padding:10px;
    font-size:14px;
    border-radius:6px;
    border:1px solid #cbd5e1;
}
form input:focus,form  select:focus{
    outline:none;
    border-color: #6366f1;
}
form button{
    background:#4f46e5;
    color:white;
    border:none;
    cursor:pointer;
    font-weight: 500;
}
form button:hover{
    background:#4338ca;
}
#transaction-list{
    list-style:none;
}
/*@media (max-width:768px){
    .summary{
        grid-template-columns: 1fr;
    }
    .grid{
        grid-template-columns: 1fr;
    }
}*/
